<div class="uk-width-2-3@m uk-card uk-card-default uk-padding-small uk-visible@m">
  <div class="uk-grid">
    <div class="uk-width-expand@m">
    </div>
    <div class="uk-width-expand@m uk-text-left">
      <div class="title">
        {{title}}
      </div>
      <div class="uk-text-muted uk-text-small">
        {{subTitle}}
      </div>
    </div>
    <div class="uk-card uk-card-small uk-text-center uk-padding-remove">
      <a target="_blank" href="https://github.com/red28mil/POIversion1.git">
        <div>
          <i class="fas= fa- fa-3x" style="color:rgb(95, 96, 173)" title="Source repo" pos="bottom" uk-tooltip><span uk-icon='github'></span></i>
        </div>
        <div class="uk-width-expand@m uk-text-left">
          <div class="uk-text-muted uk-text-center" style="font-size:xx-small">Repo</div>
        </div>
      </a>
    </div>
  </div>
</div>























