<div class="uk-width-2-3@m uk-card uk-card-default uk-padding-small uk-visible@m">
  <div class="uk-grid">
    <div class="uk-width-expand@m">
    </div>
    <div class="uk-width-expand@m uk-text-left">
      <div class="title">
        {{title}}
      </div>
      <div class="uk-text-muted uk-text-small">
        {{subTitle}}
      </div>
    </div>
    <div class="uk-card uk-card-2x large uk-text-center uk-padding-remove">
      <a target="_blank" href="https://github.com/red28mil/poiv2.git">
        <div>
          <i class="fas= fa- fa-3x" style="color:rgb(82,53,129)" title="Source repo" pos="bottom" uk-tooltip><span uk-icon="github"></span></i>
        </div>
        <div class="uk-width-expand@m uk-text-left">
          <div class="uk-text-muted uk-text-center" style="font-size:xx-small">Repo</div>
        </div>
      </a>
    </div>
    <div class="uk-container "></div>
    <div class="uk-card uk-card-2x large uk-text-left uk-padding-remove">
      <a target="_blank" href="https://www.beaches.ie/beach-guide/">
        <div>
          <i class="fas= fa- fa-3x" style="color:rgb(82, 53, 129)" title="beaches" pos="top" uk-tooltip><span uk-icon='image'></span></i>
        </div>
        <div class="uk-width-expand@m uk-text-right">
          <div class="uk-text-muted uk-text-left" style="font-size:xx-small">info</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="uk-card-body"></div>
<div class="uk-card-footer"></div>
<div class="uk-width-span uk-card-secondary uk-card-default  uk-text-center">
  <div class="uk-container uk-margin uk-text-large"> login or sign up<span uk-icon="heart"></span>
  </div>
</div>













