<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Beaches" subTitle="Please donate to keep our beaches clean"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">

    </div>
    <div class="uk-width-expand@m">{{> donate}}</div>
  </div>
</div>









