<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Beach Services" subTitle="sun sea sand"}}
  {{> welcome-menu }}
</div>

<div class="uk-container  uk-margin">
  <div class="uk-child-width-span uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m ">
      <img width="800" src="images/tra.jpg" />
    </div>
    <div class="uk-width-span">
      <h1 class="uk-heading-small">Beautiful Beaches of Ireland</h1>
      <p>Donate what you can to help keep our beaches clean</p>
      {{> error }}
    </div>
  </div>
</div>
<head>
  <div class="uk-container">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin">
      <div class="uk-width-expand uk-card-default uk-card-secondary uk-padding-small uk-text-center">
        <h2 class="uk-align-center">Places of Interest</h2>
        <h3 class="uk-align-center">Some of the most popular Beaches in Ireland are flagged below</h3>
        <style>
          #map {
            height: 400px;
            width: 100%;
          }
        </style>
      </div>
    </div>
  </div>
</head>
<div id="map"></div>
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 6,
      center: { lat: 53.3498, lng:-6.2603 },
    });
    setMarkers(map);
  }
  const beaches = [
    ["Rosslare Beach", 52.2902, -6.3897, 4],
    ["Inch Beach",  52.1427, -9.9810, 5],
    ["Inchadoyney Beach", 51.5966, -8.8659, 3],
    ["Enniscrone Beach", 54.2126, -9.0976, 2],
    ["Tramore Beach", 52.1585, -7.1444 , 1],
    ["silver strands", 54.66415, -8.77417, 4],
    [" Lahinch Beach", 52.933463, -9.344077, 2],
    ["Bundoran",54.479142, -8.277934, 6],
    ["Barley Cove", 51.474, -9.73635, 7],
  ];

  function setMarkers(map) {
    const image = {
      url:
        "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
      // This marker is 20 pixels wide by 32 pixels high.
      size: new google.maps.Size(20, 32),
      // The origin for this images is (0, 0).
      origin: new google.maps.Point(0, 0),
      // The anchor for this images is the base of the flagpole at (0, 32).
      anchor: new google.maps.Point(0, 32),
    };
    const shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: "poly",
    };

    for (let i = 0; i < beaches.length; i++) {
      const beach = beaches[i];
      new google.maps.Marker({
        position: {lat: beach[1], lng: beach[2]},
        map,
        icon: image,
        shape: shape,
        title: beach[0],
        zIndex: beach[3],
      });
    }
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_1CpW1dYbTGzDzaZrqt4VEQ6ALaKDqqw&callback=initMap&libraries=&v=weekly"
  async>
</script>


</body>
<div class="uk-card-body"></div>
<div class="uk-card-footer"></div>
<div class="uk-width-span uk-card-secondary uk-card-default  uk-text-center">
  <div class="uk-container uk-margin uk-text-large"> Thanks for visiting our site<span uk-icon="heart"></span>
    <span uk-icon="youtube" ></span>
    <span uk-icon="twitter" ></span>
    <span uk-icon="facebook" ></span>
    <span uk-icon="tripadvisor" ></span>
  </div>
</div>
